
.main-wrap {
  width: 100%;
  min-height: calc(100vh + 10rem);
  position: relative;
  margin-top: -10rem;
  z-index: 0;
}

section .detail{
  position: relative;
  z-index: 1;
}

.login-main {
  width: 35rem;
  height: 10.5rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4e4e4e;
  padding: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
.login-main p {
  text-indent: 1rem;
}
.box1 {
  background: #ffd;
  height: 4rem;
  text-indent: 1rem;
  width: 90%;
  margin-bottom: 0.4rem;
  color: #3B424D;
  font-size: 1rem;
  border: none;
  outline: none;
}
.border1 {
  -webkit-border-radius: .5rem .5rem 0 0;
  -moz-border-radius: .5rem .5rem 0 0;
  -ms-border-radius: .5rem .5rem 0 0;
  -o-border-radius: .5rem .5rem 0 0;
  border-radius: .5rem .5rem 0 0;
}
.border2 {
  -webkit-border-radius: 0 0 .5rem .5rem;
  -moz-border-radius: 0 0 .5rem .5rem;
  -ms-border-radius: 0 0 .5rem .5rem;
  -o-border-radius: 0 0 .5rem .5rem;
  border-radius: 0 0 .5rem .5rem;
}
.send {
  width: 7rem;
  height: 7rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  outline: none;
  top: 2rem;
  border: .5rem solid #4e4e4e;
  background-image: linear-gradient(#333,#2e2e2e);
  font-size: 1.8rem;
  color: #fff;
  text-shadow: .1rem .1rem .2rem #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}