@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-1: #2d30b1;
  --color-1-light: #2e30b2b3;
  --color-2: #1217a7;
  --color-2-light: #1217a7b3;
}



header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: all 0.4s;
}

header.scroll {
  background-color: var(--bg);
  position: fixed;
  animation: animate 0.5s;
  box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.15);
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

header .nav-link {
  opacity: 0.5;
}
header:not(.scroll) .navbar-brand{
  color: #fff;
}
header:not(.scroll) .navbar-brand:hover {
  color: #fff;
}
html{
  scroll-behavior: smooth;
}

.height{
  min-height: 100vh;
  padding: 5rem 0;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

header .nav-link.active,
header .nav-link:hover {
  opacity: 1 !important;
  display: inline-block;
}

footer .learn-more{
  --btn: #999; --btn-color: #000
}

.fill-1 {
  fill: transparent;
  transition: all 0.3s;
}

.fill-2 {
  fill: #fff;
  transition: all 0.3s;
}

header.scroll .fill-1 {
  fill: var(--color-1);
}

header.scroll .fill-2 {
  fill: var(--color-2);
}

header.scroll .nav-brand,header.scroll .nav-link {
  color: var(--color-1) !important;
  transition: all 0.4s;
}
header.scroll .nav-brand:hover,header.scroll .nav-link:hover,header.scroll .nav-link.active{
  color: var(--color-2) !important;
}

@media (min-width: 62em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 48em) and (max-width: 62em) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 36em) and (max-width: 48em) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 65%;
  }
}

header li{
  text-transform: uppercase;
}

.nav-brand svg {
  width: 1.65rem;
  transform: translateY(-0.3rem);
}

.nav-brand {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Audiowide', "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
}


header.scroll {
  --btn-color: #fff;
  --btn: var( --color-1);
}
header:not(.scroll) {
  --btn: #fff;
  --btn-color: #000;
}

.auto {
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}



.top_section,.n2 {
  min-height: 100vh;
  background: var(--color-1-light), url(./images/bg.jpg);
  background: -webkit-linear-gradient(
      to right bottom,
      var(--color-1-light),
      var(--color-2-light)
    ),
    url(./images/bg.jpg);
  background: linear-gradient(
      to right bottom,
      var(--color-1-light),
      var(--color-2-light)
    ),
    url(./images/bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.n2{
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.heading_primary {
  text-align: center;
}
.heading_primary * {
  font-weight: 400;
}

.heading_primary h1 {
  font-size: 3rem;
  font-weight: 600;
}
.heading_primary h3 {
  font-size: 2.1rem;
  font-weight: 400;
}
.heading_primary p {
  font-size: 1.2rem;
  font-weight: 300;
}

.algo {
  letter-spacing: 0.15rem;
  word-spacing: 0.5rem;
}

.feature {
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 1.5rem;
  color: #4e4e4e;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  height: 100%;
}

.feature svg,
.feature g {
  fill: var( --color-1);
}

.feature:hover {
  transform: translateY(-0.5rem) scale(1.05);
}

.feature .icon svg {
  max-width: 4.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.feature_heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.feature p {
  font-size: 0.85rem;
}


.why_us_inner {
  min-height: 100vh;
  padding: 10rem 0;
  background: var(--color-1-light), url(./images/bg2.png);
  background: -webkit-linear-gradient(
      to right bottom,
      var(--color-1-light),
      var(--color-2-light)
    ),
    url(./images/bg2.png);
  background: linear-gradient(
      to right bottom,
      var(--color-1-light),
      var(--color-2-light)
    ),
    url(./images/bg2.png);
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 25vh, 100% 0, 100% 90%, 0% 100%);
}

.learn-more {
  color: var(--btn);
  display: inline-block;
  background-color: transparent;
  border: 2px solid var(--btn);
  transition: all 0.4s;
  padding: 0.6rem 1.5rem;
  border-radius: 4rem;
  margin: 1rem;
}

.learn-more:hover {
  color: var(--btn-color);
  background-color: var(--btn);
  text-decoration: none;
}
.bg-grey {
  background: #2e2e2e;
}

footer {
  color: grey;
}
footer p,
footer a {
  font-size: 12px;
}
footer h6 {
  margin-bottom: 40px;
  position: relative;
}
footer h6:after {
  position: absolute;
  content: "";
  background: grey;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}

footer ul li {
  list-style: none;
  display: block;
}
footer ul {
  padding-left: 0;
}
footer ul li a {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: none;
  transition: all 0.4s;
  color: #f5f5f5 !important;
}
.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}



.question {
  font-size: 19px;
  margin-left: 25px;
  cursor: pointer;
  position: relative;
}

/* Triangle list item */
.question:before {
  content: "";
  border-color: transparent #ccc;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  display: block;
  height: 0;
  width: 0;
  left: -16px;
  top: 10px;
  position: absolute;
}

.answer {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  margin: 20px 0 20px;
  position: relative;
}

/* Triangle in definition container */
.answer:after, .answer:before {
  bottom: 100%;
  left: 6%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.answer:after {
  border-color:transparent;
  border-color: transparent;
  border-bottom-color: #9e9e9e;
  border-width: 15px;
  margin-left: -15px;
}

.answer:before {
  border-color:transparent;
  border-color: transparent;
  border-bottom-color: #9e9e9e;
  border-width: 17px;
  margin-left: -17px;
}

.faq_item{
  padding: 1rem;
}

.faq_item:not(:last-child){
  border-bottom: 1px solid #9e9e9e;
}

.faq_container{
  box-shadow: 0 0rem 3rem rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  overflow: hidden;
}


.strange1{
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  min-height: 100%;
  text-align: center;
}

.card-side{
  height: 100%;
  transition: all 0.5s ease;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.card-side-front{
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  transition: all 0.5s ease;
  perspective: 150rem;
  -moz-perspective: 150rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
}
.card_image{
  background-image: linear-gradient( to right bottom , var(--color-1) , var(--color-2));
}

.card-ul{
  list-style: none;
  width: 90%;
  margin: 0 auto;
}
.card-li{
  padding: 0.7rem 0.5rem;
  font-size: 0.8rem;
  text-align: left;
}
.card-li:not(:last-child){
  border-bottom: 1px solid #eee;
}

.card-heading{
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  top: 3rem;
  right: 0rem;
  padding: 0.5rem 1.3rem;
  color: #fff !important;
  line-height: 2;
  box-decoration-break: slice;
  -webkit-box-decoration-break: slice;
}

.ribbon {
  font-size: 2.3rem;
  margin: 3rem auto;
  font-weight: bold;
  text-align: center;
}

::marker{
  font-weight: bold;
}

.n2 a{
  color: #000;
  font-weight: bold;
}

.container_inner{
  padding: 1.5rem;
  padding-top: 6rem;
  width: 100%;
  margin: 0 auto;
  background-color: #2e2e2e;
  box-shadow: 0 0 4rem rgba(255, 255, 255, 0.2);
}

.container{
  position: relative;
}

.ribbon i {
  position: absolute;
}

.ribbon i:first-child, .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #999;
  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}

.ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #999;
}

.ribbon i:nth-child(3), .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -40px;
  z-index: -2;
  border: 30px solid #ddd;
  border-left-color: transparent;
  
  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;
  
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -40px;
  border: 30px solid #ddd;
  border-right-color: transparent;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.detail{
  height: 70vh;
  background: var(--color-1-light), url(./images/setup.png);
  background: -webkit-linear-gradient(
      to right bottom,
      var(--color-1-light),
      var(--color-2-light)
    ),
    url(./images/setup.png);
  background: linear-gradient(
      to right bottom,
      var(--color-1-light),
      var(--color-2-light)
    ),
    url(./images/setup.png);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.n2.a{
  background: var(--color-1-light), url(./images/1.jpg) fixed;
  background-size: cover;
  background: -webkit-linear-gradient(to right bottom,var(--color-1-light),var(--color-2-light)), url(./images/1.jpg) fixed;
  background-size: cover;
  background: linear-gradient(to right bottom,var(--color-1-light),var(--color-2-light)), url(./images/1.jpg) fixed;
  background-size: cover;
}
.n2.b{
  background: var(--color-1-light), url(./images/2.jpg) fixed;
  background-size: cover;
  background: -webkit-linear-gradient(to right bottom,var(--color-1-light),var(--color-2-light)), url(./images/2.jpg) fixed;
  background-size: cover;
  background: linear-gradient(to right bottom,var(--color-1-light),var(--color-2-light)), url(./images/2.jpg) fixed;
  background-size: cover;
}
.n2.c{
  background: var(--color-1-light), url(./images/3.jpg) fixed;
  background-size: cover;
  background: -webkit-linear-gradient(to right bottom,var(--color-1-light),var(--color-2-light)), url(./images/3.jpg) fixed;
  background-size: cover;
  background: linear-gradient(to right bottom,var(--color-1-light),var(--color-2-light)), url(./images/3.jpg) fixed;
  background-size: cover;
}


.step{
  transform: skewX(-20deg);
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.45);
}

.step_inner{
  transform: skewX(20deg);

}

.content{
  transform: skewX(-20deg) scaleY(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  color: #fff;
  text-align: center;
  background: var(--bg);
  position: relative;
  min-height: 100%
}

.content::before,.content::after{
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  background: var(--bg);
}

.content::after{
  top: 0;
  right: -1px;
  transform: skewX(20deg);
}
.content::before{
  left: -1px;
  bottom: 0;
  transform: skewX(20deg);
}

.contant_inner{
  transform: skewX(20deg);
}

.contant_inner{
  font-weight: bold;
  font-size: 1.2rem;
}

.contant_inner h1{
  font-weight: 900;
  font-size: 3rem;
}

.height:not(.n2){
  color: #000 !important;
}
